@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

/* Menu */

nav{
    background-color: #2B2D42;
    padding: 20px 40px;
}

.nav-content{
    position: relative;
}

.logo{
    color: #fff;
    font-family: 'Fuzzy Bubbles', cursive;
    cursor: pointer;
}

.profil{
    color: #fff;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;

    transition: 0.5s;
}

.profil:hover{
    color: #EF233C;
}

/* Sekcja główna */
.main{
    width: 100%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.main{
    width: 100%;
}

.left{
    float: left;
    width: 50%;
}

.right{
    float: left;
    width: 50%;
}

/* Filtry */
.filter{
    width: 60%;
    float: right;
}

#div_search{
    margin: 10px 5%;
    width: 40%;
    float: left;
}

#div_location{
    margin: 10px 5%;
    
    width: 40%;
    float: right;
}

.input-filter input{
    border-radius: 15px;
    padding: 5px 10px;
    border: 1px solid #BABABA;
}

#addBtn{
    margin: 10px 20px;
    padding: 5px 30px;
    border-radius: 15px;
    background-color: #EF233C;
    border: 1px solid #EF233C;
    color:#fff;
    transition: 0.5s;
}

#addBtn:hover{
    background-color: #fa7484;
    border: 1px solid #fa7484;
}

/* Oferty */
.oferts{
    padding: 10px 0;
    height: 85vh;
    background: #EDF2F4;
}

.scrollElement{
    overflow-y: auto;
    height: 100%;
}

.offert{
    margin: 10px 10px;
    background: #fff;
    padding: 5px 10px;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
}

.left-offert{
    width: 10%;
    float: left;
}

.center-offert{ 
    padding-top: 10px;
    width: 40%;
    float: left;
}

.info{
    color: #818181;
}

.price{
    color: #EF233C;
}

/* Mapka */
.right-offert{
    text-align: right;
    padding-top: 20px;
    width: 30%;
    float: right;
}

.left-offert img{
    width: 80%;
}

.right-element{
    position: relative;
    width: 100%;
}

#map{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 92vh;
}

/* Modal*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
  
  /* Modal Treść */
.modal-content {
    border-radius: 5px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
}

.modal-content h2{
    color: #2B2D42;
}

form{
    padding-top: 20px;
}

.input{
    padding-top: 10px;
    width: 60%;
    margin: 0px 20%;
}

.input input, .input select{
    width: 100%;
    padding: 5px 0px 5px 3px;
    border-radius: 4px;
    border: 1px solid #818181;
}

#other-input{
    display: none;
}

.input-btn{
    padding-top: 20px;
    text-align: center;
}

#btnModal{
    padding: 8px 80px;
    background-color: #EF233C;
    color: #fff;
    border: none;
    border-radius: 15px;
}

#btnModal:hover{
    background-color: #fa7484;
}

/* Zamknij guzik */
.close {
    color: #fa7484;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #EF233C;
    text-decoration: none;
    cursor: pointer;
}

/* RWD */
@media only screen and (max-width: 1400px) {
    .left{
        width: 100%;
    }
    .right{
        display: none;
    }

    .modal-content {
        width: 75%;
    }
}

@media only screen and (max-width: 720px) {
    .left-offert{
        display: none;
    }

    .center-offert{ 
        width: 70%;
        font-size: small !important;
    }
    .right-offert{ 
        width: 30%;
        font-size: small !important;
    }
    .filter{
        width: 100%;
    }
    #addBtn{
        margin: 10px 5%;
        padding: 5px 0px;
        width: 90%;
    }

    #div_search{
        margin: 10px 5%;
        width: 40%;
    }
    
    #div_location{
        margin: 10px 5%;
        width: 40%;
    }
}

@media only screen and (max-width: 500px) {
    #div_search{
        margin: 10px 1% 10px 5%;
        width: 40%;
    }
    
    #div_location{
        margin: 10px 5% 10px 1%;
        width: 40%;
    }
}

@media only screen and (max-width: 450px) {
    .input-filter{
        width: 100%;
    }
    
    .input-filter input{
        width: 100%;
    }

    .center-offert{ 
        width: 70%;
        font-size: smaller !important;
    }
    .right-offert{ 
        width: 30%;
        font-size: 12px !important;
    }

    #div_search{
        margin: 10px 10% 10px 5%;
        width: 85%;
        float: left;
    }
    
    #div_location{
        margin: 10px 10% 10px 5%;
        width: 85%;
        float: left;
    }

    .input{
        width: 90%;
        margin: 0px 5%;
    }
}


/* Ekran ładowania */
.loading{
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 20;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    top: 50%;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #EF233C;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #EF233C transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
